<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectOne</display-name>
  
  <filter>
  	<filter-name>EncondingFilter</filter-name>
  	<filter-class>filter.EncondingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>EncondingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>action.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>action.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AccessServlet</servlet-name>
    <servlet-class>action.AccessServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShopInfoServlet</servlet-name>
    <servlet-class>action.ShopInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ByNowServlet</servlet-name>
    <servlet-class>action.ByNowServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ByNowCommitServlet</servlet-name>
    <servlet-class>action.ByNowCommitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddShopCarServlet</servlet-name>
    <servlet-class>action.AddShopCarServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccessServlet</servlet-name>
    <url-pattern>/AccessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopInfoServlet</servlet-name>
    <url-pattern>/ShopInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ByNowServlet</servlet-name>
    <url-pattern>/ByNowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ByNowCommitServlet</servlet-name>
    <url-pattern>/ByNowCommitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddShopCarServlet</servlet-name>
    <url-pattern>/AddShopCarServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>getall.jsp</welcome-file>
  </welcome-file-list>
</web-app>